---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: safe

- name: Install MariaDB and Galera packages
  ansible.builtin.apt:
    name:
      - mariadb-server
      - galera-4
      - python3-pymysql
    state: present

- name: Install mariabackup (if SST method is mariabackup)
  ansible.builtin.apt:
    name: mariadb-backup
    state: present
  when: sst_method == "mariabackup"

- name: Create MySQL log directory
  ansible.builtin.file:
    path: "{{ mysql_log_dir }}"
    state: directory
    owner: mysql
    group: mysql
    mode: "0755"

- name: Ensure MySQL data directory exists
  ansible.builtin.file:
    path: "{{ mysql_data_dir }}"
    state: directory
    owner: mysql
    group: mysql
    mode: "0755"
